.h1, h1 {
    font-size: 30px;
}
.breadcrumb li.active{
    color:#007e7a !important;
    font-family: 'Lato-Light';
    font-size:15px;	
    font-weight:bold;
}
.breadcrumb li a{
    color:#007e7a !important;
    font-family: 'Lato-Light';
    font-size:16px;
    //margin-left: -17px;
}
.breadcrumb{
    background:none;
    margin-top:5px;
    margin-bottom:0px;
}
.breadcrumb > li + li::before {
    color: #007e7a;
    content: "> ";
    padding: 0 5px;
}
.mail-address h1{
    color:#007e7a;
    margin-top:5px;
}
.date p{
    color:#007e7a !important;
    font-family: 'Lato-Light';
    font-size:16px;
}
.page-tab-section{
    border-bottom:1px solid #89ccca;
}
.nav-tabs{
    border-bottom:none;
}
.nav-tabs li a{
    border: 1px solid #89ccca !important;
    border-radius: 2px 2px 0 0 !important;
    color: #007e7a !important;
    font-family: "BebasNeue";
    font-size: 22px;
    line-height: 22px;
    margin-right: 10px !important;
    padding: 5px 21px !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs li a:hover{
    background:#007e7a;
    color:#fff !important;
}

.tab-section {
    border-bottom: 1px solid #89ccca;
    padding-left: 4.5%;
}
.tab-content h1{
    color:#007e7a;
    margin-top:5px;
}
.tab-content p{
    margin-bottom:10px;
    line-height:27px;
}
.form-claim{
    border: 1px solid #89ccca !important;
    padding:15px;
    margin-bottom: 30px;
}

.form-claim .form-horizontal .control-label {
    color:#007e7a !important;
    font-family: 'Lato-Light';
    font-size:15px;
    padding-top: 3px;
}
.form-claim .form-control{
    border: 1px solid #89ccca !important;
}
.form-claim .form-group{
    margin-bottom:30px;

}
.form-claim .checkbox label, .form-claim .radio label, .form-claim label{
    color:#007e7a !important;
    font-family: 'Lato-Light';
    font-size:15px;
    font-weight:normal;
}
.form-claim .radio{
    width:50%;
    float:left;
    padding-top: 3px;
}
.form-claim .btn-group .form-group{
    margin-left:0px;
    margin-right:0px;
}
.btn-group{
    width:100%;
}
.radio-btn{
    padding-left:0px !important;
}
.btn-group textarea.form-control{
    width:75% !important;
}
.form-claim .more-gray-btn{
    float:right;
    margin-right:0px;
    margin-bottom:10px;
}
.btn-group .form-group{
    margin-bottom:33px;
}
.form-mijn .checkbox {
    top: 0px;
}
.form-mijn .checkbox input[type="checkbox"]{
    top: 8px;
}
.slide-heading{
    color:#007e7a !important
}
.form-mijn{
    position:relative;
}
.opslaan{
    position:absolute;
}
.saldo_price{
    color: #007e7a;
    font-size: 68px;
    margin: 0;
}
.tab-box{
    border:1px solid #89ccca;
    margin-bottom:50px;
    float:left;
    width:100%;
    padding: 20px 0;
}

.tab-box h1, .tab-box h3{
    text-align:center;
}
.alleen{
    margin-top:30px;
}
.tab-pane{
    color: #007e7a;
    margin: 0;
}
.saldo{
    border-top:1px solid #89ccca;
    padding:15px;
    text-align:left;
    margin-top: 30px;
}
.transact ul li{
    border-bottom:1px solid #89ccca;
    float:left;
    width:100%;
}
.transact p{
    line-height:42px;
}
.transact-line{
    padding-left:0px;
    border-top:1px solid #89ccca;
    margin-top:10px;
    margin-bottom: 4px;
}
.transact-line p{
    margin-bottom:0px;
    float:left;
}
.transact-line h1{
    margin-bottom:0px;
}
.transactie-btn{
    text-align:center;
}
.transactie-btn button{
    margin: 26px 0 1px;
}
.transact h3{
    margin-bottom: 20px;
}
.meld .total span{
    font-size:30px;
    font-family: "BebasNeue";
    margin-top:10px;
    margin-left: 10px;
}
.meld .total p{
    float:left;
    /*margin-top:7px;*/
}
.meld .total {
    float: right;
    padding-left: 7%;
    padding-right: 0;
    text-align: right;
}
.aan{
    float:left;
    margin-bottom:10px;
    width:100%;
}
.aan p{
    margin-top:12px;
}
.aan h1{
    margin-bottom:0px;
}	
.uitleg{
    border:1px solid #89ccca;
    margin-bottom:50px;
    padding: 30px 40px;
}
.form-uitleg{
    border-right:1px solid #89ccca;
    border-top:1px solid #89ccca;
    border-bottom:1px solid #89ccca;
    //padding: 22px 20px;
    padding: 13.5px 20px;
}
.form-uitleg .form-horizontal .control-label {
    color: #007e7a !important;
    font-family: "Lato-Light";
    font-size: 15px;
    padding-top: 3px;
    padding-left: 10%;
}
.form-uitleg .form-control {
    border: 1px solid #89ccca !important;
}
.form-uitleg .form-group {
    margin-bottom: 30px;
}
.form-uitleg .more-gray-btn {
    float: right;
    margin-bottom: 10px;
    margin-right: 12px;
}
.form-uitbatel {
    float: left;
    padding: 20px 15px 9px;
    width: 100%;
}
.uitbatel-aan .form-horizontal{
    border: 1px solid #89ccca;
    float: left;
    width: 100%;
    margin-top:0px !important;
}
.uitbatel-aan .form-horizontal .control-label {
    color: #007e7a !important;
    font-family: "Lato-Light";
    font-size: 15px;
    padding-top: 3px;
}
.form-uitbatel .form-control {
    border: 1px solid #89ccca !important;
}
.form-uitbatel .form-group {
    margin-bottom: 30px;
}
.form-uitbatel .more-gray-btn {
    float: right;
    margin-bottom: 21px;
    margin-right: 12px;
}
.uti-price{
    font-family: 'Lato-Black';
    margin-top:0px;
    font-size: 16px;

}
.form-uitbatel .more-gray-btn {
    background: #3e3e3e none repeat scroll 0 0 !important;
    border: 1px solid #3e3e3e !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-family: "BebasNeue" !important;
    font-size: 21px !important;
    font-style: italic;
    line-height: 24px !important;
    margin-right: 7px;
    padding: 6px 8px 5px !important;
}
.uitbatel-table thead{
    background:#9fd0cc;
}
.uitbatel-table tr th{
    color:#fff;
    font-size:24px;
    padding: 5.5px 30px !important;
    font-weight: 500;
}
.uitbatel-table tr td{
    padding: 17px 30px !important;
}
.uitbatel-table .table tr td {
    color: #007e7a !important;
    font-family: "Lato-Light" !important;
    font-size: 15px;
    padding-top: 3px;
}
.uitbatel-table{
    border: 1px solid #89ccca;
    float: left;
    width: 100%;
}

.uitbatel-table .table{
    margin-bottom:0px;
}
#section3{
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.uitbatel-table .table > tbody > tr > td, .uitbatel-table .table > tbody > tr > th, .uitbatel-table .table > thead > tr > td, .uitbatel-table .table > thead > tr > th{
    border-top: 1px solid #89ccca;
}
.transact-table .table > tbody > tr > td, .transact-table .table > tbody > tr > th, .transact-table .table > thead > tr > td, .transact-table .table > thead > tr > th{
    border-bottom: 1px solid #89ccca;
}
.table > thead > tr > th{
    border-bottom:none;
}
.status-transact h5{
    font-family: 'Lato-Black';
    font-size: 14px;
    margin-bottom:5px;
}
.status-transact p {
    line-height: 20px;
    font-size: 14px;
}
.status-transact{
    border: 1px solid #89ccca;
    float: left;
    width: 100%;
    padding:15px;
}
.status-transact .leg{
    width:27%;
    padding-left:0px;
}

.transact-table thead{
    background:#9fd0cc;
}
.transact-table tr th{
    color:#fff;
    font-size:24px;
    /*padding: 5.5px 40px !important;*/
    padding: 5.5px 40px 5.5px 10px !important;
    font-weight: 500;
}
.transact-table tr td{
    padding: 17px 40px !important;
}
.transact-table .table tr td {
    color: #007e7a !important;
    font-family: "Lato-Light" !important;
    font-size: 15px;
    padding-top: 3px;
}
.transact-table{
    /*border: 1px solid #89ccca;*/
    float: left;
    width: 100%;
    margin-bottom: 70px;
}

.transact-table .table{
    margin-bottom:0px;
}
.transact h2{
    font-size:24px;
}


.radio input[type=radio], .checkbox input[type=checkbox] {
    //display: none;
}
.radio label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background-color: #e0e0e0;
    /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}
.radio label:before {
    border-radius: 8px;
}
.radio input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
.checkbox label:before {
    border-radius: 3px;
}
.checkbox > label::before {
    //content: "\f00c";
    font-family: FontAwesome;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #6d6d6d;
    text-align: center;
    line-height: 15px;
    background:#e0e0e0;

    /*	 content: "";
      display: inline-block;
     
      width: 16px;
      height: 16px;
     
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 4px;
      background-color: #e0e0e0;*/
}
.checkbox input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

/* custom css */
.modal-dialog {
    margin: 250px auto !important;
    width: 600px !important;
}

.bootbox-body {
    font-size: 20px;
    font-weight: normal;
}

/* custom css */

.list-aff {
    border: 1px solid #89ccca;
    margin-bottom: 10px;
}

.row.new {
    margin-left: 0;
    margin-right: 0;
}
