.niews_title h1{
    color: #007e7a !important;
}
.login-form{
    border:1px solid #89ccca;
    padding:15px;
    float:left;
    width:100%;
    padding-bottom:60px;
}

.login-form .form-horizontal .control-label {
    color: #007e7a !important;
    font-family: 'BebasNeue';
    padding-top:0px !important;
}
.login-form .form-uitbatel .form-group {
    margin-bottom: 10px;
}
.login-green-btn{
    background: #007e7a none repeat scroll 0 0 !important;
    border: 1px solid #007e7a !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-family: "BebasNeue" !important;
    font-size: 23px !important;
    line-height: 24px !important;
    margin-right: 15px;
    padding: 6px 52px 5px !important;
    float:right;
	}
.login-form .transactie-btn .btn{
    margin-top:5px !important;
}
.register .watch{
    margin-top:11px;
}
.register-btn .login-green-btn{
    float:left;
}
.register p{
    line-height:28px;
}
.login-form{
    margin-bottom:75px;
}

.row iframe{

}

.ben-box {
    border: 1px solid #eaeaea;
    padding: 15px;
    text-align: center;
    /*width: 100% !important;*/
}

.cool-box >a >img{
    width:114px;
    height:80px;
}

.cool-box >img{
    width:114px;
    height:80px;
}
.signup {
    padding-right: 0;
}

@media only screen and (min-width:320px) and (max-width: 480px)  {

.fb-btn{
padding: 0;
float:left;
}

.transactie-btn .btn {
    float:left;
    width:100%;
}
.banner-input{
   font-size: 13px;
}
.footer_menu li:hover {
    background-color: #00a29d;
}
.footer_menu .active{
    background-color: #00a29d;
}
.custom_right_panel {
    float: none;
}

/*.menu{
background:#007E7A;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus{
background:none !important;
color:#89ccca !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #89ccca;
}
.navbar-inverse .navbar-toggle {
    border-color: #89ccca;
}*/
.nav-footer{
    background:#007e7a;
}
.ontv{
    border:1px solid #89ccca !important;
    padding:3px 10px !important;
    margin-top: 8px;
    width: 100%;
    margin-left: 0px;	
}

.lees-btn{
    background: #007e7a none repeat scroll 0 0 !important;
    border: 1px solid #007e7a !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-family: "BebasNeue" !important;
    font-size: 18px !important;
    font-style: italic;
    line-height: 24px !important;
    padding: 2px 24px 2px !important;
    margin-top: 7px;
    margin-left: 0px;	
}

.modal-dialog{
    width:280px ! important;
}
.h1, h1 {
    font-size: 23px;
}
.ben-box{
    border: 1px solid #eaeaea;
    padding: 15px;
    text-align: center;
    width: 100%;	
}
.ben-box img {
    margin: auto;
    text-align: center;
    width:auto;	
}
.niews_date{
    float: left;
    padding: 0 !important;
}

.status-transact .leg{
    margin-left: 16px;
    width: 100%;
}
.foo-bottom .foo-text{
    margin-top: 0;
    width: 100%;	
}
.for_mobile_twitter{
    display: inline-block;
    position: relative;
    margin-left: 10px;	
}
.social>iframe{
    width: 90px;	
}

.form-claim .more-gray-btn {
    float: right;
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: -10px;
}

.form-uitbatel .more-gray-btn {
    float: left;
    margin-bottom: 0px;
    margin-right: 12px;
}

.more-green-btn, .more-gray-btn {
    margin-right: 0;
    margin-top: 0px;
    width: 100%;
}

.form-uitbatel .more-gray-btn {
    background: #3e3e3e none repeat scroll 0 0 !important;
    border: 1px solid #3e3e3e !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-family: "BebasNeue" !important;
    font-size: 16px !important;
    font-style: italic;
    line-height: 24px !important;
    margin-right: 7px;
    padding: 6px 8px 5px !important;
}

.total > p {
    margin: 0 auto 0 -14px;
}

.ontv h1 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}
.ben_smallscreen{
    display:block !important;	
}
.ben{
    display:none !important;	
}
.niews_title > h1{
    width:100%;	
}
.sort-section{
    width:100%;
}
.newssort {
    margin-left: -15px;
}
.niews_title .col-xs-6{
    width:100%;
}
.breadcrumb li a {
    color: #007e7a !important;
    font-family: "Lato-Light";
    font-size: 13px;
}
.breadcrumb li.active {
    color: #007e7a !important;
    font-family: "Lato-Light";
    font-size: 13px;
    font-weight: bold;
}
.cool-blue h1 {
    color: #007e7a !important;
    margin-left: 0px;
    margin-top: 5px;
}

.cool-box > a > img {
    height: auto !important;
    width: 250px !important;
}

.cool-box >img{
    height: auto !important;
    width: 250px !important;
}

.social img{
    float:left;
}
.foo-text{
    margin-top: -40px;
    width: 81%;
}
.sort-section {
    margin-top: 0px;
}
.meld-form h2 {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.well {
    margin-bottom: 0;
    margin-top: 17px;
    min-height: 20px;
    padding: 0px;
}
.checkbox input[type="checkbox"] {
    top: 5px;	
}
.sort-section{
    float: left;
}
.mobilenews {
    padding: 0;
}
.rating-section {
    color: #000;
    font-family: "Lato-Light";
    font-weight: bold;
    margin-left: 24px;
}
.linehr{
    border-color: #a8d5d1;
}
.niews-pagi {
    height: 87px;
    clear:both !important;
}
.login-form .form-horizontal .control-label {
    color: #007e7a !important;
    float: left !important;
    font-family: "BebasNeue";
    margin: 0 auto;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
}
.address {
    padding-left: 0;
    padding-top: 10px;
}
.carousel-inner h3 {
    font-size: 10px;
}
.control-label.col-sm-6 {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
.social {
    padding-left: 15px;
}
.uitbatel-aan .form-horizontal .control-label {
    color: #007e7a !important;
    font-family: "Lato-Light";
    font-size: 15px;
    padding-top: 0;
}
.alert{
    font-size: 13px;
}
.feed p {
    font-size: 9px !important;
    float: right;
    margin-top: 5px !important;
    color: #000 !important;
}
}

@media only screen and (min-width:360px) and (max-width: 640px)  {
.slider-section .r-arrow img {
    position: absolute;
    right: 0;
    top: 56%;
}
.banner-input{
   font-size: 15px;
}
.custom_right_panel {
    float: none;
}

.address {
    padding-left: 0;
    padding-top: 10px;
}
.ben_smallscreen{
    display:block !important;	
}
.ben{
    display:none !important;	
}
.ontv h1 {
    font-size: 21px;
    margin: 0;
    text-align: center;
}
.sort-section {
    margin-top: 0px;
}
.meld-form h2 {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.well {
    margin-bottom: 0;
    margin-top: 17px;
    min-height: 20px;
    padding: 0px;
}
.modal-dialog{
    width:310px ! important;
}
.checkbox input[type="checkbox"] {
    top: 5px;
}
.cool-blue h1 {
    color: #007e7a !important;
    margin-left: 0px !important;
    margin-top: 5px;
}
.mobilenews {
    padding: 0;
}
.cool-box > a > img {
    height: auto !important;
    width: 294px !important;
}
.cool-box >img{
    height: auto !important;
    width: 294px !important;
}
.rating-section {
    color: #000;
    font-family: "Lato-Light";
    font-weight: bold;
    margin-left: 42px;
}
.carousel-inner h3 {
    //font-size: 10px;
    font-size: 15px;
}
.control-label.col-sm-6 {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
.social {
    padding-left: 15px;
}
.feed p {
    font-size: 9px !important;
    float: right;
    margin-top: 5px !important;
    color: #000 !important;
}
}


@media only screen and (min-width:768px) and (max-width: 1024px)  {

.fb-btn{
padding: 0;
float:left;
margin-top:-42px;
}
.checkbox{
margin-left:-70px;
}

.right-head{
    width:63% !important;	
}
.custom_right_panel {
    float: none;
}
.status-transact .leg {
    padding-left: 0;
    width: 25%;
}
.footer_menu .active{
    background-color: #00a29d;
}
.footer_menu li:hover {
    background-color: #00a29d;
}
.banner-input{
    margin-bottom:10px;
    width:227px;
    font-size: 11px;	
}

.work-btn {
    height: 27px;
}

.lees-btn{
    background: #007e7a none repeat scroll 0 0 !important;
    border: 1px solid #007e7a !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-family: "BebasNeue" !important;
    font-size: 18px !important;
    font-style: italic;
    line-height: 24px !important;
    padding: 2px 24px 2px !important;
    margin-top: 7px;
    margin-left: 40px;	
}
.transact-table tr th {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 8px !important;
}

.nav-tabs li a {
    border: 1px solid #89ccca !important;
    border-radius: 2px 2px 0 0 !important;
    color: #007e7a !important;
    font-family: "BebasNeue";
    font-size: 18px;
    line-height: 22px;
    padding: 5px 11px !important;
}
.nopadding {
    
}

.cool-box >a >img{
    width:90px !important;
    height:80px !important;
}
.cool-box >img{
    width:90px !important;
    height:80px !important;
}
.social>iframe{
    width: 90px;	
}
.linehr{
    border-color: #a8d5d1;
}

.niews-pagi {
    height: 87px;
    clear:both !important;	
}
.login-form .transactie-btn .btn {
    float: right !important;
    margin-top: 5px !important;
}
.register-btn {
    float: left;
}
.afflinks{
    float:left;
    width:100%;
}
.social {
    padding-left: 120px;
}

}
@media only screen and (min-width:980px) and (max-width: 1280px)  {
.social {
    padding-left: 120px;
}
.footer_menu .active{
    background-color: #00a29d;
}
.footer_menu li:hover {
    background-color: #00a29d;
}
}

@media only screen and (min-width:1280px) and (max-width: 600px)  {
.social>iframe{
    width: 90px;	
}
.social {
    float: left;
    padding-left: 170px !important;
    text-align: left;	
}
.navbar-nav .active{
    background-color: #00a29d;
}
.footer_menu li:hover {
    background-color: #00a29d;
}

}
@media only screen and (min-width:800px) and (max-width: 1280px)  {

.cool-box >a >img{
    width:90px !important;
    height:80px !important;
}

.cool-box >img{
    width:90px !important;
    height:80px !important;
}
.social {
    padding-left: 120px;
}
.footer_menu .active{
    background-color: #00a29d;
}
.footer_menu li:hover {
    background-color: #00a29d;
}
}



