.niews_title .dropdown a{
    color:#007e7a !important;
    font-size:14px !important;
    font-family: 'Lato-Light';
    padding:1px 10px !important;
}

.niews_title{
    color: #007e7a !important;
}
.niews_title .dropdown a:hover, .niews_title .dropdown a:active, .niews_title .dropdown a:focus {
    color: #007e7a !important;
}
.title .dropdown .dropdown-menu{
    color:#007e7a !important;
    font-size:14px !important;
    font-family: 'Lato-Light';
    line-height:28px;
    cursor:pointer;
}
.niews_title .dropdown{
    border:1px solid #89ccca;
    margin-left:10px;
}
.niews_title .dropdown .caret{
    margin-left:40px;
}


.sort-title{
    float:left;
    margin-bottom:0px;
}
.sort-section{
    float:right;
    margin-top:30px;
}
.niews_title{
    border-bottom: 1px solid #89ccca;
    float: left;
    width: 100%;
}
.cool-box{
    background:#ededed;
    padding:15px;
    text-align:center;
}
.cool-blue h1{
    color: #007e7a !important;
    margin-top:5px;
}
.cool-blue p{
    line-height:27px !important;
}
.niews_date{
    padding-top:12px;
    float:right;
    font-weight:bold;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #007e7a;
    border-color: #89ccca;
    color: #fff;
    z-index: 2;
    font-family: 'Lato-Black';
}
.pagination > li > a{
    color:#007e7a;
    font-family: 'Lato-Black' !important;
}
.pagination > li > a, .pagination > li > span{
    margin-left:8px;
    border: 1px solid #89ccca;
}
.next-item{
    background:#007e7a !important;
    color:#fff !important;
}
.pagination-section .navigation{
    float:right;
}
.niews-pagi .pagination{
    float:right;
    margin-top:5px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #007e7a !important;
    border-color: #007e7a !important;
}

.cat-title{
    background: #007e7a none repeat scroll 0 0;
    color: #fff !important;
    font-size:23.13px;
    padding:9px 15px;
    margin-bottom:0px;
}
.panel .open{
    background: #89ccca none repeat scroll 0 0 !important;
    color: #fff !important;
    padding:9px 15px;
    margin-bottom:0px;
    border:0px !important;
    border-radius:0px !important;
}
.panel-heading{
    background: #none !important;
    font-family: "BebasNeue" !important;
    color: #007e7a !important;
    padding: 9px 15px 9px 30px;
    margin-bottom:0px;
    border-radius:0px !important;
    border:1px solid #89ccca !important;
    border-top:0px !important;
}
.panel-group .panel + .panel{
    margin:0px;
}
.panel-title {
    color: inherit;
    font-size: 20px !important;
}
.panel .more-less{
    margin-right:5px;
    font-size: 16px !important;
}
.aan-panel .panel-body{
    border:1px solid #89ccca !important;
    padding:0px;
}
.aan-panel .panel-body ul li{
    padding: 8px 15px 8px 40px;
    border-top:1px solid #89ccca;
}
.aan-panel .panel-body ul li:first-child{
    border-top:0px;
}
.aan-panel .panel-body ul{
    padding-left:0px;
}
.panel{
    border:none !important;
}
.aan-binder .cool-blue{
    border-bottom: 1px solid #89ccca;
    float: left;
    width: 100%;
    padding-top:20px;
    padding-bottom:15px;
}
/*.aan-panel{
width:20.5%;
float:left;
}
.aan-right{
float: right;
    width: 77.5%;
}*/
.aan-panel .panel-body ul li a{
    color: #007e7a !important;
    font-family: "Lato-Light";
    font-size: 14px;
}
.aan-panel .panel-body ul li.active a{
    font-family: "Lato-Black";
}
.ben-box {
    border:1px solid #eaeaea;
    padding: 15px;
    text-align: center;
    width:70%;
}
.aan-binder .ben{
    font-size: 22px;
    font-family: "BebasNeue" !important;
    text-align: left;
    margin-top: 13px;
    word-wrap: break-word
}
.ontv{
    border:1px solid #89ccca !important;
    padding:3px 10px !important;
    margin-top: 8px;
    width: 300px;
    margin-left: 30px;
}
.ontv h1{
    font-size: 20px;
    margin: 0;
    text-align:center;

}
.ben-box img{
    width:100%;
}
.lees-btn{
    background: #007e7a none repeat scroll 0 0 !important;
    border: 1px solid #007e7a !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-family: "BebasNeue" !important;
    font-size: 18px !important;
    font-style: italic;
    line-height: 24px !important;
    margin-left: 62px;
    padding: 2px 24px 2px !important;
    margin-top: 7px;
}
.aan-section{
    margin-bottom:60px;
}
.aan-next{
    margin-right:0px !important;
}
.inpSelect { 
    border: 1px solid #89ccca;
    margin-left: 10px;
    padding:0px;
    float:left;
}
.inpSelect option { 
    z-index: 2; 
    color: #007e7a !important;
    font-family: "Lato-Light" !important;
    font-size: 14px !important;
    padding: 1px 10px !important;

}
select {

    /* make arrow and background */

    background:
        linear-gradient(45deg, transparent 50%, #007E7A 50%),
        linear-gradient(135deg, #007E7A 50%, transparent 50%),
        linear-gradient(to right, white, white);
    background-position:
        calc(100% - 10px) calc(1em + -4px),
        calc(100% - 5px) calc(1em + -4px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;

    /* styling and reset */

    border: thin solid blue;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    border-radius: 0;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    width:100px;
    color: #007e7a !important;
    font-family: "Lato-Light" !important;
    font-size: 14px !important;
    padding: 1px 10px !important;
}

/* my custom css */

.disabled{
    background-color: rgb(222, 221, 219) !important;
    opacity: 0.5 !important;
}

.current {
    background-color: #007e7a !important;
    border-color: #007e7a !important;
    color: #fff !important;
    font-weight: bold !important;
}

.next > a{
    background-color:#007E7A !important;
    color: #fff !important;		
}
.btn-primary:hover {
    background-color: #007e7a !important;
    border-color: #007e7a !important;
    color: #fff !important;
}

.btn-primary {
    background-color: #fff !important;
    border-color: #007e7a !important;
    color: #007e7a !important;
}

