.next-item, .prev-item{
background:#007e7a !important;
color:#fff !important;
}
.single-pagi .prev{
float:left;
}
.single-pagi .next{
float:right;
}
.cool-box{
//margin-right:15px;
   // margin-left: -15px;
}
.single-pagi .pagination,.single-pagi nav{
width:100%;
float:left !important;
}

.cool-title{
width:81.7%;
float:left;
}
