@media screen and (max-width:1199px){
.nav-tabs li a{
font-size:20px;
padding: 5px 20px !important;
}
	.form-uitleg .more-gray-btn{
margin-bottom: 11px;
}
.form-uitleg{
	padding: 35px 20px;
}
.ontv h1 {
  font-size: 23px;
}
}
@media screen and (max-width:1024px){

.nav-tabs li a{
font-size:20px;
}
	.meld-form .submit-green-btn{
	margin-left: 14px;
	}
	.meld-form .submit-btn {
    width: 57%;
}
.box h3 {
    font-size: 20px;
	}

}
@media screen and (max-width:991px){
.cool-blue{
float:left;
width:100%;
}
.cool-box img{
width:100%;
}

.form-uitleg .more-gray-btn{
margin-bottom: 11px;
}
.form-uitleg{
	padding: 32px 20px;
}
.form-uitleg .form-horizontal .control-label{
padding-left:0;
}

.uitleg{
padding:15px;
}
.more-gray-btn{
 padding: 6px 20px 5px !important;
 }
 .form-uitleg .more-gray-btn{
 margin-right:0px !important;
 }

 .form-uitleg .form-group {
    padding: 0 15px;
}
.form-claim .more-gray-btn{
float:left;
}
.mail-address, .date, .bread{
padding-left:21px;
}
.carousel-inner img{
height:30px;
}
.carousel-inner h1 {
    font-size: 45px;
	}
	.carousel-inner h3 {
    font-size: 22px;
	}
	.carousel-inner p {
    font-size: 15px;
	}
	.navbar-nav li a, .nav-footer .navbar-nav li a {
    color: #fff !important;
    //font-size: 14px !important;
    font-size: 18px !important;
}
.nav-tabs li a{
	margin-right: 5px !important;
    padding: 5px 9px!important;
	}
.tab-section {
    padding-left: 1% !important;
}
.box h3 {
    font-size: 20px;
	}
.meld-form .form-horizontal{
	    margin-left: 23%;
}
.meld-form .submit-green-btn{
    margin-left: 16px;
	}
.meld-form .submit-btn {
    margin-bottom: 80px;
    width: 50%;
}
.met p {
    font-size: 13px !important;
	}
	.social {
    float: left;
    text-align: left;
}
.fb {
    margin-right: 7px;
}
.tab-content p{
margin-bottom:7px;
}
.alleen {
    margin-top:20px;
}
.saldo{
/*padding:0 10px;*/
}
.transactie-btn {
    padding: 0 15px;
    text-align: center;
}
.uitbatel-aan p{
 font-size: 14px;
 }
.form-uitbatel .more-gray-btn {
    margin-bottom: 6px;
	margin-right: 0;
	}
	.status-transact .leg {
    width: 25%;
}
.transact-table tr td {
    padding: 17px 20px !important;
}
.transact-table tr th{
	 padding: 5.5px 20px !important;
}
.cool-title{
width:78%;
}
.login-form .form-horizontal .control-label{
padding:15px !important;
}
.transactie-btn .btn {
    float: none !important;
    margin-right: 0px !important;
}
.register p {
    line-height: 21px;
}
.login-form .transactie-btn{
padding:0px;
}

}
@media screen and (max-width:767px){
.ben-box{
width:100%;
}
.aan-binder{
text-align:center;
}
.ben-box img{
width:auto;
}
.aan-binder .ben{
width:100%;
}

.register{
float:left;
margin-top:20px;
padding:0px;
}
.register-btn .login-green-btn {
    float: right;
}
.register-btn {
padding:0px;
}

.cool-title{
width:100%;
}
.cool-box img {
    width: auto;
}
.niews_date{
float:left;
}
.cool-blue{
margin-bottom:20px;
}
.sort-section{
float:left;
width:100%;
margin-top:20px;
}
.sort-title {
    float: left;
   margin-bottom: 0;
   padding-top: 1px;
}
.niews_title .dropdown{
float:left;
}
.transact-table{
border:none;
}
.transact-table tr td {
    padding: 17px 15px !important;
}
.transact-table tr th{
	 padding: 5.5px 15px !important;
}
.status-transact .leg {
    padding-left: 15px;
    width: 100%;
}
 .form-uitleg{
 border:1px solid #89ccca;
  margin-bottom: 30px;
 }
 .aan p {
    margin-top: 4px;
}
.meld .total span{
font-size:24px;
}
.meld .total {
    float: left;
    padding-left: 0;
	}
 .form-uitleg .form-horizontal .control-label{
 //padding-left:15px !important;
 }
.btn-group textarea.form-control {
    width: 100% !important;
}
.form-claim .form-horizontal .control-label{
padding:15px;
}
.form-claim .form-group {
    padding: 0 15px;
}
.mail-address, .date, .bread{
padding-left:15px;
}
.meld-form .form-horizontal{
	    margin-left: 0;
}
.meld-form .submit-green-btn{
    margin-left: 0px;
	}
.meld-form .submit-btn {
    margin-bottom: 80px;
    width:100%;
}
.checkbox label, .radio label{
font-size:15px;
}
.more-green-btn, .more-gray-btn{
width:100%;
margin-right:0px;
margin-top:10px;
}
.meld-form .fb-btn{
padding:0px;
float:left;
}
.submit-btn{
width:100%;
margin: 20px 0 !important;
}
.slider-section .carousel-control{
width: 8%;
}
.slider-section .r-arrow img, .slider-section .l-arrow img {
    width:40%;
}
.well{
padding:0px;
}
.line, .slider-section .first {
    padding: 0 5px;
}
.nopadding-slide{
padding-left: 0 !important;
    padding-right: 0 !important;
	}
.carousel-inner h1 {
    //font-size: 21px;
    font-size: 29px;
	}
.carousel-inner h3 {
    font-size: 13px;

}
.carousel-inner p {
    //font-size: 5px;
    font-size: 14px;	
	}
.carousel-inner img {
    //height: 11px;
    height: 17px;
	}
.form-claim .more-gray-btn{
 float:left;
 }
.nav-tabs > li{
width:100%;
}
.submit-green-btn{
width:100%;
margin-left:0px;
margin-bottom:20px;
}
.blue-btn{
width:100%;
}
.boxes{
margin-top:10px;
}
 h1 {
    font-size: 24px;
}
.logo {
text-align:center;
margin-bottom:20px;
}
.right-head .btn{
margin-bottom:20px;
margin-left:0px;
width:100%;
}
.navbar-toggle{
margin-right:0px;
}
.right-btn{
width:100%;
}
.banner{
padding-left:0px !important;
padding-right:0px !important;
}
.banner img{
display:none;
}
.banner-box{
width:100%;
right:0px;
margin-top:20px;
max-width: 100%;
position:relative;
float:left;
margin-bottom:20px;
}
.banner-input{
width:100%;
}
.banner{
border-bottom:none;
}
.nav-footer .nav > li{
width:100%;
text-align:center;

}
.nav-footer ul span{
display:none;
}
.social, .foo-text{
text-align:center;
}
.feed {
    margin: 0 auto;
    width: 30%;
}
.feed p{
float:none;
}
.feed img {
    float: left;
    margin-right: 0;
}
.rating-section span.be {
    margin: 10px 0;
    padding-left: 0px;
    text-align: center;
    width: 100%;
	
}
.foo-navbar{
float:none;
}

.slider-section .nopadding{
padding-left:7px !important;
padding-right:7px !important;
}
.tab-section{
border-bottom:none;
}
.slider-section .l-arrow img{
top: 54%;
}
.form-uitbatel .form-horizontal .control-label {
    padding: 0;
}
.uitbatel-aan .form-horizontal{
padding:15px;
margin-bottom:20px;
}
.uitbatel-aan .form-horizontal .control-label{
margin-top:0px;
padding:15px;
}
p.blank{
display:none;
}
}
@media screen and (max-width:320px){
.carousel-inner h1 {
    font-size: 15px;
}
.feed {
    margin: 0 auto;
    width: 60%;
}
.carousel-inner img {
    height: 9px;
}
h1 {
    font-size: 22px;
}
.slider-section .l-arrow img, .slider-section .r-arrow img{
top: 55%;
}

.login-form .form-horizontal .control-label {
    padding: 15px !important;
}
.transactie-btn .btn {
    float: none !important;
    margin-right: 0px !important;
}
.meld .total span {
margin-left: 31px !important;
    font-size: 20px !important;
}
.form-claim .form-horizontal .control-label {
    padding-left: 15px;
}
.uitbatel-aan .form-horizontal .control-label {
    padding: 15px;
}
.form-uitbatel .more-gray-btn {
    font-size: 13px !important;
}
}


