@font-face {
  font-family: 'BebasNeue';
  src: url('../front_fonts/BebasNeue.eot');
  src: url('../front_fonts/BebasNeue.woff2') format('woff2'),
       url('../front_fonts/BebasNeue.woff') format('woff'),
       url('../front_fonts/BebasNeue.ttf') format('truetype'),
       url('../front_fonts/BebasNeue.svg#BebasNeue') format('svg'),
       url('../front_fonts/BebasNeue.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Light';
  src: url('../front_fonts/Lato-Light.eot');
  src: url('../front_fonts/Lato-Light.woff2') format('woff2'),
       url('../front_fonts/Lato-Light.woff') format('woff'),
       url('../front_fonts/Lato-Light.ttf') format('truetype'),
       url('../front_fonts/Lato-Light.svg#Lato-Light') format('svg'),
       url('../front_fonts/Lato-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../front_fonts/Lato-Black.eot');
  src: url('../front_fonts/Lato-Black.woff2') format('woff2'),
       url('../front_fonts/Lato-Black.woff') format('woff'),
       url('../front_fonts/Lato-Black.ttf') format('truetype'),
       url('../front_fonts/Lato-Black.svg#Lato-Black') format('svg'),
       url('../front_fonts/Lato-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'BebasNeue' !important;
}
h2{font-size:33px;
}
.m-t-1{
    margin-top:10px !important;
}
.m-t-2{
    margin-top:20px !important;
}
.m-t-3{
    margin-top:20px !important;
    margin-bottom:20px !important;
}
.content{
    margin-top:0px !important;
}
.m-t-4{
    margin-top:40px !important;
}
.m-t-5{
    margin-top:50px !important;
}
.m-t-6{
    margin-top:60px !important;
}
.m-b-2{
    margin-bottom:20px !important;
}
ul li{
    list-style:none;
}
.nopadding{
    padding-left:0px !important;
    padding-right:0px !important;
}
p{
    color:#007e7a !important;
    font-family: 'Lato-Light';
    font-size:14px;
}
.header{
    margin-top:40px;
}
.right-head, .right-btn{
    float:right;
}
a{
    /*color:#007e7a !important;*/
}
.green-btn{
    color:#fff !important;
    background:#007e7a !important;
    line-height: 24px !important;
    padding: 2px 13px 1px !important;
    font-size:18px !important;
    font-family: 'BebasNeue' !important;
    border:1px solid #007e7a !important;
    border-radius:0px !important;
    margin-left:5px;
}
.work-btn{
    color:#007e7a !important;
    background:#fff !important;
    line-height: 24px !important;
    padding: 2px 13px 1px !important;
    font-size:18px !important;
    font-family: 'BebasNeue' !important;
    border:1px solid #007e7a !important;
    border-radius:0px !important;
    //margin-right:15px;
}
.submit-green-btn{
    color:#fff !important;
    background:#007e7a !important;
    line-height: 24px !important;
    padding: 6px 38px 5px !important;
    font-size:23px !important;
    font-family: 'BebasNeue' !important;
    border:1px solid #007e7a !important;
    border-radius:3px !important;
    margin-left:5px;

}
.blue-btn{
    color:#fff !important;
    background:#0070c7 !important;
    line-height: 24px !important;
    padding: 6px 10px 5px !important;
    font-size:23px !important;
    font-family: 'BebasNeue' !important;
    border:1px solid #007e7a !important;
    border-radius:3px !important;
    //margin-right:15px;
    margin-right:26px;
}
.more-green-btn{
    color:#fff !important;
    background:#007e7a !important;
    line-height: 24px !important;
    padding: 6px 33px 5px !important;
    font-size:23px !important;
    font-family: 'BebasNeue' !important;
    border:1px solid #007e7a !important;
    border-radius:3px !important;
    margin-right:15px;
    font-style:italic;
}
.more-gray-btn{
    color:#fff !important;
    background:#3e3e3e !important;
    line-height: 24px !important;
    padding: 6px 52px 5px !important;
    font-size:23px !important;
    font-family: 'BebasNeue' !important;
    border:1px solid #3e3e3e !important;
    border-radius:3px !important;
    margin-right:15px;
    font-style:italic;

}

.menu{
    background:#89ccca;
}
.navbar-inverse {
    background: none !important;
    border:none !important;
    margin-bottom:0px !important;
    min-height:auto !important;
}
.navbar-nav > li > a {
    padding-bottom: 6px !important;
    padding-top: 8px !important;
}
.navbar-header{
    border:none !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    background:none !important;
    color:#007e7a !important;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus{
    background:none !important;
    color:#007e7a !important;
}
.navbar-nav li a{
    color:#fff !important;
    font-size:24px !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #007E7A;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #007E7A;
}
.banner-box{
    background:#89ccca;
    padding:15px;
    position:absolute;
    top:20%;
    width:328px;
    max-width:328px;
    right:4%;
}
.banner-box h1{
    color: #000;
    font-size: 25.92px;
    margin-top: 0;
	
}
.banner{
    position:relative;
    border-bottom:1px solid #89ccca;
    /*background:url(img/banner-1.jpg) no-repeat;*/
}
.banner img{
    width:100%;
}
.banner-input{
    margin-bottom:10px;
}
.banner-text button{
    float:right;
    margin-right:0px;
}
.nav-footer{
    background:#007e7a;
}
.nav-footer .navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus{
    color:#fff !important;
}
.nav-footer .navbar-nav span{
    color: #fff;
    float: left;
    padding: 8px 0;
	}
.foo-navbar{
    padding:0 9%;
    float:left;
}
.social{
    float:left;
    padding-left:170px;
}
.foo-text{
    float:right;
    text-align:right;
}
.rating-section{
    font-family: 'Lato-Light';
    color:#000;
    font-weight:bold;
    margin-left: -35px;
}
.social>iframe{
    width: 90px;	
}
.rating-section span.be{
    width:100%;
    display:block;
    text-align:center;
    margin:5px 0;
    padding-left:40px;
}
.ten{
    color:#ccc;
}	
.feed p{
    font-size:10px;
    float:right;	
    margin-top:5px !important;
    color:#000 !important;
}
.feed img{
    margin-right:5px;
}
.feed{
    margin-right:10px;
}
.met p{
    font-size:17px !important;
    margin-top:20px;
    font-family: 'BebasNeue';
    color:#000 !important;

}
/* form css*/

.meld-form{
    background:url(../front_img/bg.png) repeat;
}
.form-horizontal .control-label {
    color: #fff;
    float: left;
    font-size: 23px;
    margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
    font-weight:normal;
}
.form-control{
    border:none;
    border-radius:0px ;
    box-shadow:none;
    height:30px;
}
.meld-form h2{
    color:#fff;
    text-align:center;
    margin-bottom:40px;
    margin-top:40px;
 }
.form-group {
    margin-bottom: 0px;
}
.checkbox{
    top:13px;
}
.checkbox label, .radio label{
    font-size:23px;
    color:#fff;
}
.submit-btn{
    margin-bottom:80px;
    width: 62%;
}
.box{
   background:#89ccca;
   margin: 28px 18px;
   padding: 7px 10px;
}
.box h3{
    font-size:23px;
    color:#fff;
    font-style:italic;
    margin:0px;
}
.boxes{
    text-align:center;
}
.four-section{
    margin-top:32px;
    margin-bottom:32px;

}
.more-info-section h1{
    color:#fff;
}
.more-info-section{
    background:url(../front_img/bg-gray.png) repeat;
    padding-bottom:30px;
    padding-top:35px;
}
.well{
    background:none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.carousel-control.left{
    background:none;
}
.carousel-control.right{
    background:none;
}
.carousel-inner p{
    font-size:20px;
    margin:0px;
    color:#007e7a;
    font-family: 'BebasNeue';
}
.carousel-inner h1{
    font-size:68px;
    margin:0px;
    color:#007e7a;
}
.carousel-inner h3{
    font-size:30px;
    margin-top:20px;
    margin-bottom:0px;
    color:#007e7a;
}
.carousel-inner img{
    margin:0 auto;
}
.slider-section{
    position:relative;
    max-width:1070px;
    width:100%;
    text-align:center;
    margin:0 auto;
}

.slider-section .l-arrow img{
    left:0px;
    top:50%;
    position:absolute;
}
.slider-section .r-arrow img{
    right:0px;
    top:50%;
    position:absolute;
}
.line{
    background:url(img/line.png) no-repeat;
}
.slider-border{
    //border-bottom:1px solid #89ccca;
    //margin:30px 0 30px;
    padding-bottom:20px;

}
.checkbox input[type="checkbox"]{
    top:12px;
}

.gap{
    margin-bottom:300px;
}
.fb{
    margin-right:15px;
}
.meld-form .fb-btn{
    float:right;
}
.nav-footer .navbar-nav li a {
    color: #fff !important;
    font-size: 21px !important;
}

.faq-box > h1{
    background: #ededed !important;
    padding: 1px 10px;
}
.faq-box{
    margin-bottom:30px;
}

.linehr{
    border-color: #a8d5d1;
}

.niews-pagi {
    //height: 87px;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0px;
    padding-left: 0;
}

.col-sm-3.col-xs-3.first.text-center {
    border-right: 1px solid #a8d5d1;
}

.cool-blue p{
    text-align: left;
}

#next {
    float: right;
    margin-right: 8px;
    border: 1px solid #89ccca;
    font-family: 'Lato-Black' !important;
    text-decoration: none;
    line-height: 1.42857143;
    padding: 6px 12px;
    background-color: #007E7A !important;
    color: #fff !important;
}

#pre {
    float: left;
    margin-right: 8px;
    border: 1px solid #89ccca;
    font-family: 'Lato-Black' !important;
    text-decoration: none;	
    line-height: 1.42857143;
    padding: 6px 12px;
    background-color: #007E7A !important;
    color: #fff !important;
}
.bootbox-body{
    color: #007E7A;
}
.close{
    color: #007E7A;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #89CCCA;
}
.afflinks{
    float:right;
}
.work-btn{
    height: 33px;
}
.banner-input{
    font-size: 15px;
}
.custom_right_panel {
    float: right;
}
.watch{
    font-size: 15px;
    font-weight: bold;
}



/* The Modal (background) */
.modal-pop {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-pop {
    background-clip: padding-box;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;	
}

/* The Close Button */
.close-pop {
    color: #007e7a;
    float: right;
    font-size: 37px;
    font-weight: bold;
    margin-right: -10px;
    margin-top: -25px;	
}

.close-pop:hover,
.close-pop:focus {
    color: #7F7F7F;
    text-decoration: none;
    cursor: pointer;
}

.custom-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.fb-btn{
padding: 0;
float:right;
margin-right:-26px;
}
